	color: #EDC9AFS; 
	margin: 0; 
	padding: 0;
	background: #F8B195;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1 { 
	font: italic bold normal 1.4em Trebuchet-MS, sans-serif;
	background: #F18C8E;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #305F72;
	}

h2 { 
	font: italic bold normal 1.1em Trebuchet-MS, sans-serif;
	background: #F0B7A4;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #305F72;
	}
h3 { 
	font: italic normal 0.9em Trebuchet-MS, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #305F72;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #6C5B7B;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #C06C84;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #F67280;
	}
abbr {
	border-bottom: none;
	}


.page-wrapper { 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	align: center;
	min-width: 470px;
	width: 100%;
	}

header {
	padding-top: 20px;
	height: 87px;
}
.topnav {
  background-color: #F1D1B5;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #305F72;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F18C8E;
  color: black;
}

.topnav a.active {
  background-color: #765D69;
  color: white;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: center;
	}
.summary p {
	font: italic 1.1em/2.2 Trebuchet-MS; 
	text-align: center;
	}
footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

